<%-include('header');-%>
<br>
<h1> Thank You For Registering <%= registered.username %></h1>
<a href="/api/Login/<%= registered.num_client %>"><p>Here are your details</p></a><br>

<%-include('footer');-%>